@media (max-width: 767px) {
    $widthContent: 344px;

    .center {
        padding-left: calc(50% - $widthContent/2);
        padding-right: calc(50% - $widthContent/2);
    }

    //header
    .header {
        &__personal {
            display: none;
        }

        &__basket {
            display: none;
        }
    }

    // index

    .promo {
        padding-left: calc(50% - $widthContent/2);
        padding-right: calc(50% - $widthContent/2);
        padding-top: 148px;
        padding-bottom: 148px;
        align-items: center;
        justify-content: center;

        &__img {
            display: none;
        }

        &__content::before {
            height: 61px;
        }

        &__title {
            @include font-property(38px, 900, $promoFontColor);
        }

        &__subtitle {
            @include font-property(20px, 700, $promoFontColor);

        }
    }

    .sale {
        padding-top: 64px;
        padding-bottom: 64px;
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;

        &__subtitle {
            @include font-property(14px, 400, #fff);

        }

        &__title {
            @include font-property(24px, 700, $colorSpecial);

        }

        &__item-big {
            grid-column: span 1;
            min-height: 111px;
        }

        &__item-big img {
            height: 100%;
            object-fit: cover;
        }
    }

    .product-box {
        &__content {
            grid-template-columns: repeat(1, 1fr);
        }

        &__browse-btn {
            margin-top: 40px;
            margin-bottom: 96px;
        }
    }

    .feature {
        padding-bottom: 81px;
        gap: 46px;
    }

    // footer 
    .subscribe {
        &-content__text {
            @include font-property(18px, 400, #222);
        }

        &-content__subtitle {
            @include font-property(14px, 400, #222, $line-height: 153.2%)
        }
    }

    .footer-bottom {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;

        &__social {
            order: -1;
        }
    }

    // catalog
    .page-heading {
        padding-top: 24px;
        padding-bottom: 46px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

    .filter-sort {
        padding-top: 0;
        margin-top: 24px;
        padding-bottom: 32px;
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .filter-heading {
        display: none;
    }

    .filter {
        &__summary {
            min-width: 0;
        }

        &__summary svg {
            width: 38px;
            height: 25px;
        }
    }

    .sort {
        padding-top: 2px;
        gap: 24px;

        &__summary {
            @include font-property(12px, 400, #6F6E6E);
            gap: 9px;
        }
    }

    // product
    .product-info {
        margin-bottom: 64px;
    }

    .product-description {
        &__price {
            padding-bottom: 82px;
        }

        &__price::after {
            left: -59px;
            top: 50px;
            width: 175px;
        }

        &__summary {
            @include font-property(10px, 400, #6F6E6E);
        }
    }

    //cart
    .shopping-cart {
        gap: 48px;
        padding-bottom: 96px;
        &__box {
            gap: 32px;
        }

        &__button {
            @include font-property(12px, 400, #575757);
            padding: 9px 16px;
        }

        &__info {
            flex-wrap: wrap;
            gap: 48px;
        }
    }

    .cart {
        max-width: 358px;

        &__info {
            padding: 14px 53px 38px 17px;
        }

        &__title {
            @include font-property(16px, 400, #222);
            margin-bottom: 26px;
        }

        &__properties {
            @include font-property(14px, 400, #575757);
        }

        &__quantity input {
            @include font-property(10px, 400, #656565);
            max-width: 24px;
        }
    }

    .shipping {
        flex-basis: 100%;
    }
    // registration

    .registration{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}