$widthContent: 1140px;
$bgHeader: #222;
$promoFontColor: #222;
$colorFontDark: #000;
$bgDark: #222224;
$lightFontColor: #FBFBFB;
$bgForm: #E1E1E1;
$colorSpecial: #F16D7F;
$borderColor: #EAEAEA;
$menuWidth: 232px;
$bgLight: #fff;
$colorFontGrey: #6F6E6E;